<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User List</title>
  </head>
  <body>
    <h1>Here are your users:</h1>

    <div class="djangotwo">
      {% if user_records %}
        <ol>
          {% for user in user_records %}

            <li>User Info</li>

            <ul>
              <li>First Name: {{ user.fname }}</li>
              <li>Last Name: {{ user.lname }}</li>
              <li>Email: {{ user.email }}</li>
            </ul>

          {% endfor %}
        </ol>
      {% else %}
        <p>Cannot Fine users' records</p>
      {% endif %}
    </div>
  </body>
</html>
