body {
    background-color: gray;
}

div {
    background-color: bisque;
    border-color: blue;
    border-width: thick;
    border-style: solid; 
    padding: 10px;
}

span {
    background-color: aqua;
}